.imageSonic {
  position: absolute;
  top: 0;
  left: 0;
  width: 80px;
  height: 80px;
  transition: none;
  &_s {
    width: 40px;
    height: 40px;
  }
  &_animationHome {
    top: 54%;
    left: 15%;
  }
  &_animationGame {
    top: 43%;
    transition: transform linear 1s;
    &_inGame {
      top: 54%;
    }
  }
}
