@media (max-width: 900px) {
  .resultBox {
    margin-top: 2.5em;
    margin-bottom: 2em;
    &__data {
      flex-direction: column-reverse;
    }
  }
  .button_replay {
    &_icon {
      display: flex;
    }
    &_noView {
      display: none;
    }
  }
}

@media (max-width: 680px) {
  .container__title {
    font-size: 2.5em;
  }
  .results__header__text {
    font-size: 1em;
  }
}

@media (prefers-reduced-motion: reduce) {
  .container__figure {
    animation: none;
  }
  html {
    scroll-behavior: auto;
  }
}
