@use './componentes';
@use './layout';
@use './query';

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: Roboto, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
    sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

:root {
  --red-light: rgb(253, 110, 74);
  --red: rgb(233, 0, 35);
  --red-title: rgb(255, 0, 0);
  --red-warning: rgb(226, 39, 29);
  --blue-light: rgb(71, 191, 255);
  --blue-light2: rgb(87, 196, 255);
  --blue: rgb(3, 51, 151);
  --button-blue-border: rgb(0, 113, 199);
  --button-blue-background: rgb(75, 175, 251);
  --blue-title: rgb(28, 0, 158);
  --blue-dark: rgb(12, 78, 129);
  --blue-dark2: rgb(0, 52, 163);
  --blue-border: rgb(2, 137, 194);
  --yellow-border: rgb(216, 227, 8);
  --yellow-ring: rgb(254, 242, 104);
  --background-error: rgb(238, 132, 132);
  --background-title: #eee;
  --background-title-87: rgba(238, 238, 238, 0.87);
  --background-selector: #88959c;
  --box-shadow: #666d;
  --disabled-color: #aaa;
}
